point-sekolah.rofimain.com {
    tls /etc/caddy/certs/origin-cert.pem /etc/caddy/certs/origin-key.pem

    encode gzip zstd

    reverse_proxy app:3000 {
        header_up X-Real-IP {remote_host}
        header_up X-Forwarded-For {remote_host}
        header_up X-Forwarded-Proto {scheme}
    }

    log {
        output file /data/access.log {
            roll_size 10mb
            roll_keep 5
        }
    }
}
